html, body, .container {
  height: 100%;
  margin: none;
}

#menu {
  height: 98%;
  position: relative;
  background-color: #eeeeee;
  width: 39.5%;
  display: inline-block;
}

#map {
  overflow-y: auto;
  width: 60%;
  height: 98%;
  position: absolute;
  background-color: #fff;
  float: left;
  display: inline-block;
}

#error-code {
  color: red;
}
