html, body, .container {
  height: 100%;
  margin: none;
}

h1 {
  display: inline-block;
  font-size: 24px;
}

h2, h3 {
  margin: 1px;
}

.url {
  margin-top: 10px;
}

.twitter {
  margin-top: 10px;
}

.instagram {
  margin-top: 10px;
}

#menu {
  height: 98%;
  background-color: #fff;
  width: 35%;
  position: fixed;
  display: inline-block;
  z-index: 5000;
}

select {
  width: 30%;
  margin-left: 10px;
}

button {
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

#map {
  overflow-y: auto;
  width: 98%;
  height: 98%;
  background-color: #fff;
  float: right;
  display: inline-block;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:5001;
}
.close{
  background:none;
  display: inline;
  top:0px;
  float: right;
  margin:7px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:5001;
}
